body {
    background-color: lightseagreen;
}

p {
    border-style: dashed;
    color:rgb(3, 20, 8);
    border-color: coral;
}

h1{
    padding-left: 40px;
}

a{
    color: brown;
}

.pilsēta{
    border-style: double;
    border-color: blue;
}

.red{
    color: darkred;
}

button#specialButton{
    background-color: aquamarine;
}

div.frame{
    min-height: 300px;
    background-color: antiquewhite;
    display: grid;
    grid-template-columns: 30% 70%;

}

div.left{
    min-height: 40px;
    background-color: aqua;
}

div.right{
    min-height: 40px;
    background-color: darkolivegreen;
}